<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>JUDS Thesaurus</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script type="text/javascript" src="static/js/jquery-1.4.2.min.js">
        </script>
        <script type="text/javascript" src="static/js/scripts.js">
        </script>
    </head>
	<body>
		<div id="banner">
			<div id="vignet">
				<div id="header-title">
				  <h1>Joined-up Data Standards</h1>
				  <h2 style="text-align:left; text-indent: 50px; font-size: 23px; "><a href="http://juds.joinedupdata.org" style="color:white">JUDS</a><h2>
				</div>	  
			</div>
		</div>
		<div class="container">
				<div id="sidebar-left">
					<h4>&nbsp;</h4> 
						<p style="text-align:left"><a href="http://127.0.0.1:5000/"><img src={{url_for('static', filename='home-icon.png')}} width="40" height="40"></a></p>
					<h4>Simple search</h4>
					<div id="SearchContainer">
						<input autocomplete="off" id="SearchAutoCompleteInput" title="search" type="text">
					</div>
					<h4>Advanced search</h4>
						<p><a href="http://127.0.0.1:5000/translator">Search or translate</a></p>
					<h4>Browse projects</h4>
						<p><a href="http://127.0.0.1:5000/projects_page1">Indicators</a></p>
						<p><a href="http://127.0.0.1:5000/projects_page2">Sectors</a></p>
						<p><a href="http://127.0.0.1:5000/projects_page3">Supranational regions and &nbsp groupings</a></p>
						<p><a href="http://127.0.0.1:5000/projects_page4">Surveys</a></p>
					<h4>List of data standard</h4>
						<p><a href="http://127.0.0.1:5000/data_standards_index">Alphabetical list</a></p>
					<h4>Developer access</h4>
						<p><a href="http://joinedupdata.org/PoolParty/sparql/Indicators">SPARQL</a></p>
						<p><a href="http://joinedupdata.org/PoolParty/api/">API</a></p>
					<h4><a href="http://juds.joinedupdata.org/about/">Contact us</a></h4>
					<h4><a href="http://joinedupdata.org/PoolParty/!/auth/login">Log in</a></h4>
					<h4>&nbsp;</h4> 
				</div>
		</div>
			<div id="wrapper">	
				<div class="box">
					Alphabetical index of data standards
				</div>
				<h4>&nbsp;</h4> 
				<p>This is a current list of data standards hosted on the thesaurus. The list will automatically update as new data standards and SKOS mappings become available. </p>		
				<div class="listControl">
					<a id="expandList" style="color:#933298">Expand all</a>
					<a id="collapseList" style="color:#933298">Collapse all</a>
				</div>
				<h4>&nbsp;</h4> 
					<ul id="expList">
						<li>
							C
							<ul>
								<li>
									<a href="http://joinedupdata.org/Sectors/cofog">Classifications of Functions of Government (UN COFOG)</a>
								</li>
								<li>
									<a href="http://joinedupdata.org/Sectors/crs">Creditor Reporting System (OECD DAC CRS)</a>
								</li>
							</ul>
						</li>
						<li>
							D
							<ul>
								<li>
									<a href="http://joinedupdata.org/Surveys/dhsq7">Demographic Household Surveys (USAID DHS)</a> 
								</li>
							</ul>
						</li>
						<li>
							I
							<ul>
								<li>
									<a href="http://joinedupdata.org/Sectors/isic">International Standard Industrial Classification of All Economic Activities, Rev.4 (UN ISIC)</a>
								</li>
								<li>
									<a href="http://joinedupdata.org/Sectors/itep">Investments to End Poverty (Development Initiatives ITEP)</a>
								</li>
							</ul>
						</li>
						<li>
							L
							<ul>
								<li>
									<a href="http://joinedupdata.org/Surveys/lsms">Living Standard Measuring Study (World Bank LSMS)</a>
								</li>
							</ul>
						</li>
						<li>
							M
							<ul>
								<li>
									<a href="http://joinedupdata.org/">Millennium Developmental Goals (MDGs)</a>
								</li>
								<li>
									<a href="http://joinedupdata.org/">Multiple Indicators Cluster Surveys (UNICEF MICS)</a>
								</li>
							</ul>
						</li>
						<li>
							N
							<ul>
								<li>
									<a href="http://joinedupdata.org/">National Taxonomy of Exempt Entities (US NTEE)</a>
								</li>
							</ul>
						</li>
						<li>
							S
							<ul>
								<li>
									<a href="http://joinedupdata.org/">Sustainable Development Goals (SDGs)</a>
								</li>
							</ul>
						</li>
						<li>
							W
							<ul>
								<li>
									<a href="http://joinedupdata.org/">World Development Indicators</a>
								</li>
								<li>
									<a href="http://joinedupdata.org/">World Bank Themes</a>
								</li>
								<li>
									<a href="http://joinedupdata.org/">World Bank Sectors</a>
								</li>
							</ul>
						</li>
					</div>
				</div>
			</div>

		</ul>		
				<h4>&nbsp;</h4>
			</div>	 
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<h4>&nbsp;</h4>
			<div class = "footer">
			<div class="social">
				<div class="container">
					<div class="row">
					  <p>
						  <a href="http://twitter.com/joinedup_data"> <img border="0" src="/static/Twitter-circle-logo.png" width="40" height="40"></a>
					  </p>
					</div>
				</div>
				</div>
				<div class="copyrights">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
							<p><span>© 2016 <a href="http://devinit.org"> Development Initiatives</a> + <a href="http://www.publishwhatyoufund.org"> Publish What You Fund</a> </span></p>
							<p>Development Initiatives Poverty Research, registered in England and Wales (06368740)</p>
							<p>Publish What You Fund, registered in England and Wales (1158362). </p>
							<p><a href="mailto:info@joinedupdata.org">info@joinedupdata.org.</a> Twitter: <a href="https://twitter.com/joinedup_data" target="_blank">@Joinedup_Data</a></p>
							</div>
						</div>
					</div>
				</div>
				</div>  
			

	</body>
</html>
