<!doctype html>
<html lang="en">
	<head>
		</script>   
		<meta charset="UTF-8">
		<title>JUDS Thesaurus</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

	</head>
	<body>
		<div id="banner">
			<div id="vignet">
				<div id="header-title">
				  <h1>Joined-up Data Standards</h1>
				  <h2 style="text-align:left; text-indent: 50px; font-size: 23px; "><a href="http://juds.joinedupdata.org" style="color:white">JUDS</a><h2>
				</div>	  
			</div>
		</div>
		<div class="container">
				<div id="sidebar-left">
					<h4>&nbsp;</h4> 
						<p style="text-align:left"><a href="http://127.0.0.1:5000/"><img src={{url_for('static', filename='home-icon.png')}} width="40" height="40"></a></p>
					<h4>Simple search</h4>
					<div id="SearchContainer">
						<input autocomplete="off" id="SearchAutoCompleteInput" title="search" type="text">
					</div>
					<h4>Advanced search</h4>
						<p><a href="http://127.0.0.1:5000/translator">Search or translate</a></p>
					<h4>Browse projects</h4>
						<p><a href="http://127.0.0.1:5000/projects_page1">Indicators</a></p>
						<p><a href="http://127.0.0.1:5000/projects_page2">Sectors</a></p>
						<p><a href="http://127.0.0.1:5000/projects_page3">Supranational regions and &nbsp groupings</a></p>
						<p><a href="http://127.0.0.1:5000/projects_page4">Surveys</a></p>
					<h4>List of data standard</h4>
						<p><a href="http://127.0.0.1:5000/data_standards_index">Alphabetical list</a></p>
					<h4>Developer access</h4>
						<p><a href="http://joinedupdata.org/PoolParty/sparql/Indicators">SPARQL</a></p>
						<p><a href="http://joinedupdata.org/PoolParty/api/">API</a></p>
					<h4><a href="http://juds.joinedupdata.org/about/">Contact us</a></h4>
					<h4><a href="http://joinedupdata.org/PoolParty/!/auth/login">Log in</a></h4>
					<h4>&nbsp;</h4> 
				</div>
		</div>
		<div id="wrapper">	
			<div class="box">
					 What is the online thesaurus?
			</div>	
					<div id="panel">
						<p>&nbsp;</p> 
						<p style="color: #BA0C2F"><b>This thesaurus is a free online repository of mapped data standards of <a href="http://juds.joinedupdata.org/">the Joined-up Data Standards project's</a></b></p>
												<p>&nbsp;</p> 
						<p>Each <a href="http://juds.joinedupdata.org/discussion-papers/">discussion paper </a> focuses on an area where there are multiple standards for an identical or similar purpose. While the standards are partially compatible with one another they also contain significant differences. We use the thesaurus server to cross-map these standards and then use its linked data output to build visualisations to highlight the problems. </p>
												<p>&nbsp;</p> 
						<p>The data standards are linked together using Simple Knowledge Organisation System (<a href="https://www.w3.org/2004/02/skos/intro"><b>SKOS</b></a>). SKOS not only provides a universal ‘language’ for defining relationships between concepts (terms) in a single taxonomy (vocabulary, thesaurus or classification scheme) but also a means of systematically comparing concepts in different taxonomies.	</p>
												<p>&nbsp;</p> 
						<p style="color: #933298"><b>This thesaurus is continually expanding. We will clearly label the <a href="http://127.0.0.1:5000/data_standards_index" style="color: #black"><u> list of data standards </u></a> when they become available.</b></p>
												<p>&nbsp;</p> 
						<p><b>We are actively seeking to collaborate with experts interested in (or responsible for) the standards covered by our discussion papers. Collaborators will have access to the JUDS thesaurus server and will be able to engage in discussions on cross-mapping issues. Separate project workspaces are also available on the thesaurus server for use by other open data standards that could benefit from the platform and its technology. If you are interested in working with us please <a href="juds.joinedupdata.org/about/">contact us</a>. </b> </p> 
						<p>&nbsp;</p> 

					</div>			
		</div>		
		<h4>&nbsp;</h4> 
		<h4>&nbsp;</h4> 
		<div class = "footer">
			<div class="social">
				<div class="container">
					<div class="row">
					  <p>
						  <a href="http://twitter.com/joinedup_data"> <img border="0" src="/static/Twitter-circle-logo.png" width="40" height="40"></a>
					  </p>
					</div>
				</div>
				</div>
				<div class="copyrights">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
							<p><span>© 2016 <a href="http://devinit.org"> Development Initiatives</a> + <a href="http://www.publishwhatyoufund.org"> Publish What You Fund</a> </span></p>
							<p>Development Initiatives Poverty Research, registered in England and Wales (06368740)</p>
							<p>Publish What You Fund, registered in England and Wales (1158362). </p>
							<p><a href="mailto:info@joinedupdata.org">info@joinedupdata.org.</a> Twitter: <a href="https://twitter.com/joinedup_data" target="_blank">@Joinedup_Data</a></p>
							</div>
						</div>
					</div>
				</div>
				</div>  
	</body>
</html>
