<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JUDS Translator</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
	<div id="banner">
		<div id="vignet">
			<div id="header-title">
			  <h1>Joined-up Data Standards</h1>
			  <h2 style="text-align:left; text-indent: 50px; font-size: 23px; "><a href="http://juds.joinedupdata.org" style="color:white">JUDS</a><h2>
			</div>	  
		</div>
	</div>
	<div class="container">
		<div id="sidebar-left">
			<h4>&nbsp;</h4> 
				<p style="text-align:left"><a href="http://127.0.0.1:5000/"><img src={{url_for('static', filename='home-icon.png')}} width="40" height="40"></a></p>
			<h4>Simple search</h4>
			<div id="SearchContainer">
				<input autocomplete="off" id="SearchAutoCompleteInput" title="search" type="text">
			</div>
			<h4>Advanced search</h4>
				<p><a href="http://127.0.0.1:5000/translator">Search or translate</a></p>
			<h4>Browse projects</h4>
				<p><a href="http://127.0.0.1:5000/projects_page1">Indicators</a></p>
				<p><a href="http://127.0.0.1:5000/projects_page2">Sectors</a></p>
				<p><a href="http://127.0.0.1:5000/projects_page3">Supranational regions and &nbsp groupings</a></p>
				<p><a href="http://127.0.0.1:5000/projects_page4">Surveys</a></p>
			<h4>List of data standard</h4>
				<p><a href="http://127.0.0.1:5000/data_standards_index">Alphabetical list</a></p>
			<h4>Developer access</h4>
				<p><a href="http://joinedupdata.org/PoolParty/sparql/Indicators">SPARQL</a></p>
				<p><a href="http://joinedupdata.org/PoolParty/api/">API</a></p>
			<h4><a href="http://juds.joinedupdata.org/about/">Contact us</a></h4>
			<h4><a href="http://joinedupdata.org/PoolParty/!/auth/login">Log in</a></h4>
			<h4>&nbsp;</h4> 
		</div>
	</div>
	<div id="wrapper" style="text-align: center">
		<div class="box">
			Search or translate	
		</div>	  
		<p>&nbsp;</p>
		<p>Welcome to Joined-up Data Standards search or translate engine. This tool provides advanced options for searching relationships between data standards. The <b>simple search</b> lets users find all concepts that contain a search term or code. The <b>advanced filters</b>  allow for a "translation" between data standards.
		By using advanced filters, it is possible to retrieve the exact relationships between data standards and filter a precise result. </p>
		<p>&nbsp;</p>
		<div class="column-left">  		
			<h4 style="color:#933298">You can either search using a term, such as "agriculture"...</h4>	
			<p>&nbsp;</p>
			<form name="searchTerm" action="" method='POST'">
				<input type="text" name="term" id="term" class="text" placeholder="Search term..">
		</div>			
		 <div class="column-right">  	
			<h4 style="color:#933298">...or you can search using a specific code, such as 1.1.1</h4>
			<p>&nbsp;</p>	
			<form name="translateCode" action="" method='POST'>
				<input type="text" name="code" id="code"  class="text" placeholder="or a code.." >
		 </div>	
			<p>&nbsp;</p>	
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				  <h2 style="color:#BA0C2F"><center>{{ message }}</center></h2>
				{% endfor %}
				</ul>
			  {% endif %}
			{% endwith %}
			{% block body %}{% endblock %}
			 <script>
				var dis1 = document.getElementById("term");
				dis1.onchange = function () {
				   if (this.value != "" || this.value.length > 0) {
					  document.getElementById("code").type = 'hidden';
					   }
					}
				var dis2 = document.getElementById("code");
				dis2.onchange = function () {
				   if (this.value != "" || this.value.length > 0) {
					  document.getElementById("term").type = "hidden";
					   }
					}
			</script>
		  <h3>&nbsp;</h3>
		  <div class="column" style="text-align:centre; text-indent: 10px">
			  <p>&nbsp;</p>
			  <h4 style="text-align:center">Which project* would you like to search?</h4>
			  <select name='source'>
				  <option value='er'>All</option>
				  <option value='Indicators'>indicators</option>
				  <option value='Sectors'>sectors</option>
				  <option value='Surveys'>surveys</option>   
				  <option value='geo-pol'>supranational regions and groupings</option>                 
			  </select>
			<p> <b>*</b> Data standards are grouped into projects. Currently we have four projects: "indicators" (the list of corresponding data standards is available <b><a href="http://127.0.0.1:5000/projects_page1">here</a></b>), "sectors" (the list of corresponding data standards is available <b><a href="http://127.0.0.1:5000/projects_page2">here</a></b>), "supranational regions and groupings" (the list of corresponding data standards is available <b><a href="http://127.0.0.1:5000/projects_page3">here</a></b>), and "surveys" (the list of corresponding data standards is available <b><a href="http://127.0.0.1:5000/projects_page4">here</a></b>).</p>
		  </div>
			<h3>&nbsp;</h3>  		  
		<center><input type='submit' value='Simple search' style="color:#FFFFFF" ></center>
		<h3>&nbsp;</h3>  
		<div class="box">
		Advanced filters	
		</div>	  
			<h3>&nbsp;</h3>  
		<div class="column-left" style="text-align:centre; text-indent: 10px">
			  <h4 style=" text-align:centre; ">(1) What translation would you like to be returned?</h4>
			  <select name='match'>
				  <option value='er'>any</option>
				  <option value='ANY'>show me all matches</option>
				  <option value='SKOS:Exact'>exactly the same</option>
				  <option value='SKOS:Close'>very similar</option>
				  <option value='SKOS:Broader'>more general to the search term/ broader</option>   
				  <option value='SKOS:Narrower'>more specific to the search term/ narrower</option>          
			  </select>
			  <p>&nbsp;</p>
		  </div>
			<p> <b>1</b> You can discover different relationships to your search term/code. You can choose to view all the relationships to your search term/code or a specific one. We use <a href="https://www.w3.org/2004/02/skos/intro">Simple Knowledge Organisation System </a> (SKOS) to map data standards; a practical example of our mapping approach can be found <b><a href="http://juds.joinedupdata.org/discussion-papers/paper-4-household-surveys/#_Toc328733940">here</a></b>.</p>
			  <h1>&nbsp;</h1>
		<div class="column-left" style="text-align:centre; text-indent: 10px">
			  <h4>(2) Choose <a href="http://127.0.0.1:5000/data_standards_index">data standard</a> you would like to translate from..</h4>
			  <h5></h5>
			  <select name='start'>
				  <option value='er'>Any</option>
				  <option value='cofog'>COFOG</option>
				  <option value='crs'>CRS</option>
				  <option value='ntee'>NTEE</option>   
				  <option value='isic'>ISIC</option> 
				  <option value='world_bank_themes'>World Bank Themes</option>
				  <option value='world_bank_sectors'>World Bank Sectors</option> 
				  <option value='mdg'>MDG</option> 
				  <option value='sdg'>SDG</option>
				  <option value='wdi'>WDI</option>       
				  <option value='dhsq7'>DHS-VII</option>
				  <option value='mics5'>MICS5</option>                       
			  </select>
			  <p>&nbsp;</p>
		  </div>
		  <div class="column-right">
			  <h4>(3)..choose <a href="http://127.0.0.1:5000/data_standards_index">data standard</a> you would like to translate to!</h4>
			  <h5></h5>
			  <select name='destination'>
				  <option value='er'>Any</option>
				  <option value='cofog'>COFOG</option>
				  <option value='crs'>CRS</option>
				  <option value='ntee'>NTEE</option>   
				  <option value='isic'>ISIC</option> 
				  <option value='world_bank_themes'>World Bank Themes</option>
				  <option value='world_bank_sectors'>World Bank Sectors</option>       
				  <option value='mdg'>MDG</option> 
				  <option value='sdg'>SDG</option>
				  <option value='wdi'>WDI</option>       
				  <option value='dhsq7'>DHS-VII</option>
				  <option value='mics5'>MICS5</option>    
			  </select>
			  <p>&nbsp;</p>
			</div>
			<p>&nbsp;</p>
			<p  style="text-align:left"> <b>(3,4)</b> These options allow you to find direct translations between data standards. You might want to search for a given code and ask to see its translation in a data standard of your interest.</p>
			<p>&nbsp;</p>
			<center><input type='submit' value='Advanced search' style="color:#FFFFFF" ></center>
		   </form> 
			</div>
			 <h1>&nbsp;</h1>  
  	</div>    <!-- container -->
</body>
<footer class = "footer">
	<div class="social">
	<div class="container">
		<div class="row">
		  <p>
			  <a href="http://twitter.com/joinedup_data"> <img border="0" src="/static/Twitter-circle-logo.png" width="40" height="40"></a>
		  </p>
		</div>
	</div>
	</div>
	<div class="copyrights">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				<p><span>© 2016 <a href="http://devinit.org"> Development Initiatives</a> + <a href="http://www.publishwhatyoufund.org"> Publish What You Fund</a> </span></p>
				<p>Development Initiatives Poverty Research, registered in England and Wales (06368740)</p>
				<p>Publish What You Fund, registered in England and Wales (1158362). </p>
				<p><a href="mailto:info@joinedupdata.org">info@joinedupdata.org.</a> Twitter: <a href="https://twitter.com/joinedup_data" target="_blank">@Joinedup_Data</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>
</html>
